<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mahmoudsalaheldien.codeportfolio">

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:versionCode="1"
        android:versionName="1.0"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="com.example.mahmoudsalaheldien.codeportfolio.MainActivity">

        </activity>
        <activity android:name="com.example.mahmoudsalaheldien.codeportfolio.InputsActivity" />
        <activity android:name="com.example.mahmoudsalaheldien.codeportfolio.EditActivity" />
        <activity
            android:name="com.example.mahmoudsalaheldien.codeportfolio.StarterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
